<h1>Connect 4</h1>
<hr>

<div class="row">
  <div class="col-md-3">
    <%= button_to "New Game", games_path, :class=>'btn btn-primary btn-lg', method: :post, game: {} -%>
  </div>
  <div class="col-md-8">
    <b>A simple turn based game.</b>
    <br/>
    <br/>
    <a href="https://github.com/david-harkness/connect4">https://github.com/david-harkness/connect4</a>



  </div>

</div>